
.hoverable {
  border-bottom: 3px solid transparent;
  &:hover {
    border-bottom: 3px solid blue;
  }
}

.hideScroll {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

}


