.flashcard {
  width: 200px;
  height: 200px;
  perspective: 1000px;
  background: red;
}

.card__inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flashcardFront,
.flashcardBack{
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flashcardFront {
  background-color: #f1f1f1;
}

.flashcardBack{
  background-color: #eaeaea;
  transform: rotateY(180deg);
}

.flashcard:hover .card__inner {
  transform: rotateY(180deg);
}


