
.hoverable {
  border: transparent;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
  &:hover {
    border-bottom: 3px solid #3872e6;
  }
}

.hideScroll {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.cursorPointer {
  cursor: pointer;
}

.bottemBorder {
  border-bottom: 2px solid transparent;
  // on focus and hover
  &:hover {
    border-bottom: 2px solid transparent;
  }
  &:focus {
    border-bottom: 2px solid #3872e6;
  }
}

.hoverableAvatar {
  &:hover {
    box-shadow: 0 0 0 0.2rem rgba(56, 114, 230, 0.25);
  }
}
